.img-container {
	background-image: url(http://orig07.deviantart.net/79b3/f/2017/032/0/5/basedarkpalo_by_bronzehalo-daxjx22.png);
	height: 300px;
	position: relative;
	width: 400px;
}

.img-container img {
	left: 0;
	position: absolute;
	top: 0;
}