/******************************************************
	NICE URLS
******************************************************/
/* references and documentation */
https://css-tricks.com/a-couple-of-use-cases-for-calc/
https://css-tricks.com/almanac/properties/o/object-fit/
https://web-design-weekly.com/2014/11/18/viewport-units-vw-vh-vmin-vmax/
https://tympanus.net/codrops/css_reference/
https://css-tricks.com/snippets/css/media-queries-for-standard-devices/
https://css-tricks.com/snippets/html/glyphs/
https://hackhands.com/70-Expert-Ideas-For-Better-CSS-Coding/ 


/* effects and generators */
http://css3gen.com/
http://angrytools.com/
http://www.colorzilla.com/gradient-editor/
http://border-radius.com/
http://www.cssmatic.com/box-shadow
http://css3gen.com/text-shadow/
http://codepen.io/pixelass/pen/gbGZYL
http://stackoverflow.com/questions/4771304/justify-the-last-line-of-a-div
https://codepen.io/jamesbarnett/pen/vlpkh
http://www.developerdrive.com/2015/01/8-simple-css-hover-effects/


/******************************************************
	TRIGGERS
******************************************************/

/* if element with .class is empty */
.class:empty { }

/* if element doesn't have class something */
.class:not(".something") { } 

/* adds an element inside .class, before all other elements, always define content! */
.class:before { content: ""; } 

/* adds an element inside .class, after all other elements, always define content! */
.class:after{ content: ""; } 

/* all (not) odd children */
.class tr:first-child:not(odd) { background: #E4E4E4; } 
.class tr:nth-child(odd) { background: #F3F1F1; }

/* various */
element[class^="nicky"] /* it will trigger all elements whose class start with nicky */
element[class*="nicky"] /* it will trigger all elements containing 'nicky' */
element[class$="nicky"] /* everything that ends with 'nicky' */

/* trigger various children */
.class:nth-child(n+6) /* selects everything above 5 */
.class:nth-child(-n+5) /* selects 1-5 */


/**** media queries ****/
@media only screen and (max-width: 800px) { }


/******************************************************
	SPECIFIC MARKUP & TRICKS
******************************************************/

/**** create a table effect ****/
.parent {   
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.parent .children {
	-webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    width: 33%;               /* For old syntax, otherwise collapses. */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}



/* object fit --> crop image */
.class { object-fit: fill, contain, cover, none, scale-down; }


/**** rotate ****/
.class {
	-webkit-transform: rotate(10deg);    /* Safari */
    -moz-transform: rotate(10deg);    /* Firefox */
    -ms-transform: rotate(10deg);    /* IE */
    -o-transform: rotate(10deg);    /* Opera */
	transform: rotate(10deg);
    /* needs display: (inline-)block; to take effect! */
}


/**** mirror image - horizontal ****/
img {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

/**** invert colors ****/
.class { filter: invert(100%); }


/**** combine absolute and relative sizes ****/
.class { width: calc(100% - 480px); }


/**** Style placeholder ****/
*::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
*:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
    opacity:  1;
}
*::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
    opacity:  1;
}
*:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #fff;
}

/**** hide text overflow ****/
.class {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}


/**** clear content ****/
.class:after {
	content: '';
	display: block;
	clear: both;
}



/******************************************************
	BROWSER SPECIFIC STUFF
******************************************************/

/**** remove apple-default style ****/
input { -webkit-appearance: none; }

/* text-indent select on ff */
@-moz-document url-prefix() { select { text-indent: 22px; } }


/* Target IE10+ */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { /* IE10+ CSS styles go here */ }

/* Target IE 
<!--[if !IE]> <style> Style here </style> <!--<![endif]--> */




/******************************************************
	EXAMPLES EFFECTS / TRICKS
******************************************************/

/**** 3D effect ****/
.class {
	-moz-box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.5) inset;
}



/**** button with arrow on end + hover ****/
/* html: <div class="button"><a href="[URL]">I am a button with an arrow end!</a></div> */
.button a {
	background: #2864FF;
	color: #FFFFFF;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	padding: 0 10px 0 10px;
	position: relative;
}

.button a::after {
	content: " ";
	background: transparent;
	border-top: solid transparent 20px;
	border-right: none;
	border-bottom: solid transparent 20px;
	border-left: solid #2864FF 20px;
	position: absolute;
	right: -20px;
}

.button a:hover {
	background: #183d99;	
}

.button a:hover::after {
	border-left: solid #183d99 20px;
}




/**** Text border ****/
.text-border {
	/* black */
	text-shadow: -2px -2px 0 #000, -2px -1px 0 #000, -2px 0px 0 #000, -2px 1px 0 #000, -2px 2px 0 #000, -1px -2px 0 #000, -1px -1px 0 #000, -1px 0px 0 #000, -1px 1px 0 #000, -1px 2px 0 #000, 0px -2px 0 #000, 0px -1px 0 #000, 0px 0px 0 #000, 0px 1px 0 #000, 0px 2px 0 #000, 1px -2px 0 #000, 1px -1px 0 #000, 1px 0px 0 #000, 1px 1px 0 #000, 1px 2px 0 #000, 2px -2px 0 #000, 2px -1px 0 #000, 2px 0px 0 #000, 2px 1px 0 #000, 2px 2px 0 #000;
	
	/* white */
	text-shadow: -2px -2px 0 #fff, -2px -1px 0 #fff, -2px 0px 0 #fff, -2px 1px 0 #fff, -2px 2px 0 #fff, -1px -2px 0 #fff, -1px -1px 0 #fff, -1px 0px 0 #fff, -1px 1px 0 #fff, -1px 2px 0 #fff, 0px -2px 0 #fff, 0px -1px 0 #fff, 0px 0px 0 #fff, 0px 1px 0 #fff, 0px 2px 0 #fff, 1px -2px 0 #fff, 1px -1px 0 #fff, 1px 0px 0 #fff, 1px 1px 0 #fff, 1px 2px 0 #fff, 2px -2px 0 #fff, 2px -1px 0 #fff, 2px 0px 0 #fff, 2px 1px 0 #fff, 2px 2px 0 #fff;
}




/**** css based arrows ****/
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;  
  border-top: 20px solid #f00;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid green;
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right:10px solid blue; 
}


/**** oval shape ****/
.oval { border-radius: 100px / 80px; }

/**** shapes (chrome only) ****/
.clip-path {
	-webkit-clip-path: ellipse(130% 49% at 50% 51%);
    clip-path: ellipse(130% 49% at 50% 51%);
}

/**** page break before / after element ****/
.class:before { content: '\A'; }


/******************************************************
	RESET CSS + DEFAULT ITEMS
******************************************************/
/* just some stuff I like to use */
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
html, body, figure, p, h1, h2, h3, h4, h5, h6 { padding: 0; margin: 0; }
html { min-height: 100%; }
.clr { clear: both; }
.left { float: left; }
.right { float: right; }
img { max-width: 100%; }

body {
    font-family: 'Open Sans', sans-serif;
    cursor: default !important;
    background-size: cover;
}

a {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
