/******************************************************
	BEM METHODE
******************************************************/
// SASS
.block {
  @at-root #{&}__element {
  }
  @at-root #{&}--modifier {
  }
}

// CSS output
.block {
}
.block__element {
}
.block--modifier {
}