// border on the left
.content > h1:before {
	border-left: 10px solid #1878B2;
	bottom: 0;
	content: "";
	height: 2rem;
	left: -20px;
	margin: auto;
	position: absolute;
	top: 0;
}

// bullet on the right
.content > h1:after {
	content: "\00a0\00a0\2022";
	font-size: 0.8em;
}