/**************** DEFAULT SETTINGS ******************/
/***************************************************/
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
html, body, figure, p, h1, h2, h3, h4 { padding: 0; margin: 0; }
html { min-height: 100%; }
.clr { clear: both; }
.left { float: left; }
.right { float: right; }
img { max-width: 100%; }

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    cursor: default !important;
    background-size: cover;
}

a {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}



/* TABLE */
.parent {   
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.parent .children {
	-webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    width: 33%;               /* For old syntax, otherwise collapses. */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}



/* RESPONSIVE */
@media only screen and (max-width: 800px) { }


/* TRIGGER ELEMENTS */
/* <div class="empty"></div> */
.empty:empty { }



/* rotate */
.class {
	-webkit-transform: rotate(10deg);    /* Safari */
    -moz-transform: rotate(10deg);    /* Firefox */
    -ms-transform: rotate(10deg);    /* IE */
    -o-transform: rotate(10deg);    /* Opera */
	transform: rotate(10deg);
}

/* mirror image - horizontal */
img {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

/* 3D effect */
.class {
	-moz-box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.5) inset;
}

/* Calculate width */
width: calc(100% - 480px);
https://css-tricks.com/a-couple-of-use-cases-for-calc/



/* background image + gradient */
/* BUTTONS */
.right-side .questions .answer {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ee62a6+0,ee298a+100 */
    background: rgb(238,98,166) left top; /* Old browsers */
    background-image: url('images/default/logo-small.png');
    background-image: url('images/default/logo-small.png'),  -moz-linear-gradient(top,  rgba(238,98,166,1) 0%, rgba(238,41,138,1) 100%); /* FF3.6-15 */
    background-image: url('images/default/logo-small.png'), -webkit-linear-gradient(top,  rgba(238,98,166,1) 0%,rgba(238,41,138,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background-image: url('images/default/logo-small.png'), linear-gradient(to bottom,  rgba(238,98,166,1) 0%,rgba(238,41,138,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee62a6', endColorstr='#ee298a',GradientType=0 ); /* IE6-9 */
}


/* arrow / triangle */
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-bottom: 5px solid black;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  
  border-top: 20px solid #f00;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  
  border-left: 60px solid green;
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  
  border-right:10px solid blue; 
}

/* oval */
.oval {
	-webkit-border-radius: 100px / 80px;
    -moz-border-radius: 100px / 80px;
    border-radius: 100px / 80px;
}


/* Text border */
.text-border {
	/* black */
	text-shadow: -2px -2px 0 #000, -2px -1px 0 #000, -2px 0px 0 #000, -2px 1px 0 #000, -2px 2px 0 #000, -1px -2px 0 #000, -1px -1px 0 #000, -1px 0px 0 #000, -1px 1px 0 #000, -1px 2px 0 #000, 0px -2px 0 #000, 0px -1px 0 #000, 0px 0px 0 #000, 0px 1px 0 #000, 0px 2px 0 #000, 1px -2px 0 #000, 1px -1px 0 #000, 1px 0px 0 #000, 1px 1px 0 #000, 1px 2px 0 #000, 2px -2px 0 #000, 2px -1px 0 #000, 2px 0px 0 #000, 2px 1px 0 #000, 2px 2px 0 #000;
	
	/* white */
	text-shadow: -2px -2px 0 #fff, -2px -1px 0 #fff, -2px 0px 0 #fff, -2px 1px 0 #fff, -2px 2px 0 #fff, -1px -2px 0 #fff, -1px -1px 0 #fff, -1px 0px 0 #fff, -1px 1px 0 #fff, -1px 2px 0 #fff, 0px -2px 0 #fff, 0px -1px 0 #fff, 0px 0px 0 #fff, 0px 1px 0 #fff, 0px 2px 0 #fff, 1px -2px 0 #fff, 1px -1px 0 #fff, 1px 0px 0 #fff, 1px 1px 0 #fff, 1px 2px 0 #fff, 2px -2px 0 #fff, 2px -1px 0 #fff, 2px 0px 0 #fff, 2px 1px 0 #fff, 2px 2px 0 #fff;
}

/* trigger (not) odd */
.class tr:first-child:not(odd) { background: #E4E4E4; }
.class tr:nth-child(odd) { background: #F3F1F1; }


/* Style placeholder */
*::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
*:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
    opacity:  1;
}
*::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
    opacity:  1;
}
*:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #fff;
}


/* Remove Apple-default style */
input { -webkit-appearance: none; }

/* text-indent select on ff */
@-moz-document url-prefix() { select { text-indent: 22px; } }

/* Target IE10+ */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { /* IE10+ CSS styles go here */ }

/* Target IE 
<!--[if !IE]> <style> Style here </style> <!--<![endif]--> */

/* trigger stuff */
element[class^="nicky"] // it will trigger all elements whose class start with nicky
element[class*="nicky"] // it will trigger all elements containing 'nicky'
element[class$="nicky"] // everything that ends with 'nicky'