﻿/********************* GENERAL **********************/
/***************************************************/
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
html, body, figure, p, h1, h2, h3, h4 { padding: 0; margin: 0; }
html { min-height: 100%; }
.clr { clear: both; }
.left { float: left; }
.right { float: right; }
img { max-width: 100%; }
.form-page,
.questions .options div:not(.first) { display: none; }


body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    cursor: default !important;
    background-size: cover;

    background-color: #00bfa5;
}

a {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/********************* HEADERS **********************/
/***************************************************/



/********************* SECTION **********************/
/***************************************************/
/* content */
.content {
    background: rgba(255, 255, 255, 0.7);
    position: relative;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    max-width: 830px;
    padding: 40px;
    margin: 0 auto;
}






/****************** QUESTIONS  **********************/
/***************************************************/
.questions { padding: 10px; text-align: center; font-weight: 700; min-height: 350px; }
.options { position: relative; width: 100%; min-height: 295px; }
.options div { position: absolute; width: 100%; top: 0; }
.options .option-text span { font-size: 31px; }
.options .option-text p {
    font-size: 24px;
    padding: 20px 5px 0;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
}
.options .optbutton {
    border: none;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 23px;
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 700;
    padding: 20px 5px;
    margin: 20px 5px;
    width: 30%;
}

.options .question-6 .optbutton { width: auto; padding: 20px 25px; }


/************************ FORM **********************/
/***************************************************/
.form #wrap .content {  border-width: 5px; }
#form-registration {
    width: 90%;
    max-width: 370px;
    margin: 0 auto;
    padding: 10px;
    background: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.form-page h3 { }

.check { display: none; }
.step-form .text-medium { width: 100%; }
.step-form input[type=text],
.step-form select {
    height: 40px;
    box-shadow: none;
    background: #eeeeee;
    border: 1px solid #7f7f7f;
    color: #7f7f7f;
}

/* checkbox */
.step-form .cms_checkbox { width: 100%; text-align: left; }
.step-form .checkbox { margin: 0 2px 0 -2px !important; width: auto; }
.step-form .optin-text { width: 90%; text-align: justify; font-family: 'Arial', sans-serif; float: right; }

/* button */
.step-form .meedoen {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 10px;
    text-indent: 0;
    height: auto;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}



/* SHORT */
.step-form .label { display: none; }
.step-form #gender { margin-right: 20px; }
.step-form .gender { line-height: normal; text-transform: none; float: left; font-size: 17px; }

.step-form .label2 { display: block; font-size: 17px; margin:  1px auto 5px; text-align: left; }
.step-form select { float: left; }
.step-form select#dob_d { width: 30%; }
.step-form select#dob_m { width: 36%; margin: 0 7px; }
.step-form select#dob_y { width: 30%; }


/* timer */
#countdown { font-size: 18px; font-weight: bold; text-align: center; }
#countdown span { color: red; }




/******************* FOOTER *************************/
/***************************************************/







/********************* EXIT *************************/
/***************************************************/
.step-inquiry { text-align: left; }




/****************** FANCYBOX ************************/
/***************************************************/
body #fancybox-content { text-align: left; }
#fancybox-content div { padding: 0 !important; }
#fancybox-content p { margin-bottom: 10px !important; }
#fancybox-wrap  {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

#fancybox-wrap *  {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}





